@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  box-sizing: border-box;
}


html,body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}



header {
  display: flex;
  justify-content: center;
  font-size: 2.56rem;
  padding: 20px;
  background-color: #3b8ea5;
  text-align: center;
  color: white;
  background: #2d728f;
  margin-bottom: 10px;
}

h2 a {
  vertical-align: center;
}

h1 a{
  text-decoration: none;
  color: white;
}

h1 a::after.line{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.3s;
}

h1 a:::after:hover{
  width: 100%;

}


.page-wrapper {
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  min.height: 100%;
  min-width: 100%;
}


.dropdown {
  background-color: #2d728f;
  text-align: center;
  height: 100px;
  margin-top: -20px;
}

.dropdown ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 20px;
  list-style: none;
  color: #ffffff;
}

.dropdown ul li {
  text-align: center;
  width: 75px;
  margin: 15px;
  padding: 15px;
  color: white;
}

.dropdown ul li a {
  text-decoration: none;
  color: white;
}

.dropdown ul li:hover {
  background-color: #3b8ea5;
  width: 100px;
  border-radius: 10px;
  transition: all 0.4s;

}

.drop-menu-B {
  display: none;
  
}

.dropdown ul li:hover .drop-menu-B {
  display: block;
  position: absolute;
  background-color: #3b8ea5;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: -100px;
  transition: all 0.3s;
  
}

.dropdown ul li:hover .drop-menu-B ul {
  display: block;
  margin: 15px;
}

.dropdown ul li:hover .drop-menu-B ul li {
  width: 150px;
  padding: 10px;
  align-items: center;
  background: transparent;
  border-radius: 0;
  text-align: center;
  transition: all 0.5s;
}

.dropdown ul li:hover .drop-menu-B ul li:hover {
  background-color: #2d728f;
  border-radius: 5px;
  transition: all 0.5s;
}

.drop-menu-M {
  display: none;
  color: white;
}

.dropdown ul li:hover .drop-menu-M {
  display: block;
  position: absolute;
  text-align: center;
  background-color: #3b8ea5;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: -80px;
}

.dropdown ul li:hover .drop-menu-M ul {
  display: block;
  margin: 0px;
}

.dropdown ul li:hover .drop-menu-M ul li {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 150px;
  padding: 10px;
  background: transparent;
  border-radius: 10px;
}
.dropdown ul li:hover .drop-menu-M ul li:hover {
  background-color: #2d728f;
  border-radius: 5px;
}

article .rubrik {
  color: #3b8ea5;
  font-size: 3rem;
  text-align: center;
}
 article td {
   font-size: 1.125rem;
 }

 article .bilder {
   display: flex;
   flex-direction: column;
 }

footer {
  position: relative;
  bottom: 0px;
  height: 300px;
  width: 100%;
  background: #2d728f;
}

.footer-content {
  display: flex;
}

.footer-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.box .content {
  margin: 20px 0 0 0;
}

.box .content:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
}

.links .content .social {
  margin-left: -50px;
}
.links .content .social ul{
  display: flex;
justify-content: space-around;
position: relative;
text-align: center;
padding: 10px;
}

.links .content .social ul li {
  list-style: none;
  margin-left: 60px;
}

.links .content .social ul li .fa {
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: #000;
}

.links .content .social ul li a {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #3b8ea5;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.links .content .social ul a:hover {
  transform: translate(0.-10px);
  cursor: pointer;
}


.links .content .text {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left:10px;
}

.links center .phone {
  margin: 10px 0;
}

.aboutus .content p {
  color: white;
  font-size: 20px;
  text-align: center;
}

.contact .content {
  align-items: center;
}
.contact {
  text-align: center;
}
.contact form .msg {
  margin-top: 10px;
}

.contact form .text-input {
  width: 40%;
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid #white;
  border-radius: 6px;
}

.contact form input {
  height: 35px;
}

.contact form .btn {
  margin-top: 10px;
}
.btn button {
  height: 40px;
  width: 60%;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #3b8ea5;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

 .btn button:hover{
  background: #2d728f;
}

.bottom center {
  padding: 5px;
  font-size: 1rem;
  color: #fff;
}

.copyright{
  color: white;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .footer-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer-content .box{
    margin: 5px 0;
  }
  .box .contact {
    background-color: transparent;
  }
}
